<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Page</title>
    <link rel="stylesheet" href="../styles/common.css">
    <script src="../scripts/jquery-3.7.1.js"></script>
</head>
<body>
    <header>
        <h1 class="logo"><a href="/">LOGO</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/e">Error</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <section class="center">
        <h2>404</h2>
        <p>잘못된 페이지 접근이거나 접속이 원활하지 않습니다.</p>
        <span>고객 여러분들께 불편을 드려 죄송합니다.</span>
        <a href="/">홈으로 이동</a>
    </section>
    <script>
       
    </script>
</body>
</html>